# Pandas Exercise II

In [23]:
import pandas as pd

First, we will load the dataset from `data/AAPL.csv` into a DataFrame.

In [24]:
df = pd.read_csv('../data/AAPL.csv')
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2015-06-30,125.570000,126.120003,124.860001,125.430000,115.597382,44370700
1,2015-07-01,126.900002,126.940002,125.989998,126.599998,116.675667,30238800
2,2015-07-02,126.430000,126.690002,125.769997,126.440002,116.528198,27211000
3,2015-07-06,124.940002,126.230003,124.849998,126.000000,116.122704,28060400
4,2015-07-07,125.889999,126.150002,123.769997,125.690002,115.837006,46946800

This data, in its raw format, is the same as that which can be retrieved from a number of financial websites.

Before starting the exercise, let's add some additional data columns, calculated from the raw data. Don't worry if you aren't familiar with the methods used in the following cell.

In [25]:
df['Date'] = pd.to_datetime(df['Date'])
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day
df['Weekday'] = df['Date'].dt.day_name()
df['Change %'] = (df['Adj Close'].pct_change() * 100)

In [26]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Year,Month,Day,Weekday,Change %
0,2015-06-30,125.570000,126.120003,124.860001,125.430000,115.597382,44370700,2015,6,30,Tuesday,NaN
1,2015-07-01,126.900002,126.940002,125.989998,126.599998,116.675667,30238800,2015,7,1,Wednesday,0.932794
2,2015-07-02,126.430000,126.690002,125.769997,126.440002,116.528198,27211000,2015,7,2,Thursday,-0.126392
3,2015-07-06,124.940002,126.230003,124.849998,126.000000,116.122704,28060400,2015,7,6,Monday,-0.347979
4,2015-07-07,125.889999,126.150002,123.769997,125.690002,115.837006,46946800,2015,7,7,Tuesday,-0.246031

**Note**: Avoid modifying `df` itself in the subsequent questions.

#### Store the mean of the values in the `Adj Close` column in a variable called `mean_adj_close`

In [28]:
# Add your code here
mean_adj_close = df['Adj Close'].mean()
mean_adj_close

np.float64(167.04975667513898)

#### Store the minimum value in the `Low` column in a variable called `min_low`

In [30]:
# Add your code here
min_low = df['Low'].min()
min_low

np.float64(89.470001)

#### Store the maximum value in the `High` column in a variable called `max_high`

In [31]:
# Add your code here
max_high = df['High'].max()
max_high

np.float64(372.380005)

#### Store the difference between `min_low` and `max_high` in a variable called `price_range`

In [32]:
# Add your code here
price_range = max_high - min_low
price_range

np.float64(282.91000399999996)

#### Store how many rows are there in the DataFrame in a variable called `entries`

In [33]:
# Add your code here
entries = len(df)
entries

1259

#### Store in a variable called `positive_days`: how many days (i.e. number of rows) was `Change %` greater than zero

In [34]:
# Add your code here
positive_days = len(df[df['Change %'] > 0])
positive_days

671

#### Store in a variable called `days_higher`: how many days (i.e. number of rows) has `Adj Close` been greater than the value in the final row?

In [35]:
# Add your code here
final_day = df.loc[len(df) - 1, 'Adj Close']

days_higher = len(df[df['Adj Close'] > final_day])
days_higher

2

## Dataset sorting and filtering

#### Create a new DataFrame called `df_2020` which is the same as `df` but contains only the rows where `Year == 2020`

In [36]:
# Add your code here
df_2020 = df[df['Year'] == 2020]
df_2020.set_index('Date', inplace=True)

#### Continuing using `df_2020`: Store in a variable called `mean_change_mon_2020` the calculation of the `.mean()` of `Change %` for entries where `Weekday == Monday`

In [37]:
# Add your code here
df_mon = df_2020[df_2020['Weekday'] == 'Monday']
mean_change_mon_2020 = df_mon['Change %'].mean()

#### When you have calculated `mean_change_mon_2020`, uncomment and run the cell below to view its value:

In [38]:
mean_change_mon_2020

np.float64(0.2918877852311579)

#### Calculate the sum of the `Volume` column in `df_2020` for entries where `Month == 3` and store the value in a variable called `total_volume_march_2020`

In [39]:
# Add your code here
total_volume_march_2020 = df_2020[df_2020['Month'] == 3]['Volume'].sum()

#### When you have calculated `total_volume_march_2020`, uncomment and run the cell below to view its value

In [40]:
total_volume_march_2020

np.int64(1570018100)

#### Using `df_2020`, determine when `Adj Close` was the highest, store the value in a variable called `year_high_timestamp`

- look at the [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.idxmax.html) for the `.idxmax()` method and use it for this task

In [41]:
# Add your code here
year_high_timestamp = df_2020['Adj Close'].idxmax()

#### Create a DataFrame called `df_top_10` which contains the 10 entries from `df` with the highest positive `Change %` values.
- consider all entries in `df` rather than `df_2020`
- remember to avoid modifying `df` or any other stored DataFrames 
- `.copy()` can be used to copy a DataFrame to a new variable

In [42]:
# Add your code here
df_top_10 = df.copy()
df_top_10 = df_top_10.sort_values(by='Change %', ascending=False).head(10)

#### How many entries in `df_top_10` were *not* on a Monday? Store the value in a variable called `top_10_not_mon`

In [43]:
# Add your code here
top_10_not_mon = len(df_top_10[df_top_10['Weekday'] != 'Monday'])

#### When you have calculate `top_10_not_mon`, uncomment and run the cell below to inspect it

In [44]:
top_10_not_mon

8

## Dataset manipulation

#### Copy the original `df` dataFrame and call the new dataframe `df_var`.  Give it a new column called `Variation %` equal to ((`High` - `Low`) / `Close`) * 100.
- be sure to use `Close` rather than `Adj Close` in this question
- do not modify `df` but create a copy: `df_var = df.copy()`

In [45]:
# Add your code here
df_var = df.copy()
df_var['Variation %'] = ((df_var['High'] - df_var['Low']) / df_var['Close']) * 100

#### Once you have calculated `df_var`, you can uncomment and run the cell below to inspect it

In [46]:
df_var.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Year,Month,Day,Weekday,Change %,Variation %
0,2015-06-30,125.570000,126.120003,124.860001,125.430000,115.597382,44370700,2015,6,30,Tuesday,NaN,1.004546
1,2015-07-01,126.900002,126.940002,125.989998,126.599998,116.675667,30238800,2015,7,1,Wednesday,0.932794,0.750398
2,2015-07-02,126.430000,126.690002,125.769997,126.440002,116.528198,27211000,2015,7,2,Thursday,-0.126392,0.727622
3,2015-07-06,124.940002,126.230003,124.849998,126.000000,116.122704,28060400,2015,7,6,Monday,-0.347979,1.095242
4,2015-07-07,125.889999,126.150002,123.769997,125.690002,115.837006,46946800,2015,7,7,Tuesday,-0.246031,1.893552