# Intro to Pandas Exercise

**First, let's import Pandas**

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("../data/diamonds.csv")

#### Display the first 7 and last 9 rows

In [4]:
# Add your code here
df.head(7)

   carat        cut color clarity  depth  table  price     x     y     z
0   0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
5   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
6   0.24  Very Good     I    VVS1   62.3   57.0    336  3.95  3.98  2.47

#### Display random sample from the DataFrame

In [6]:
# Add your code here

df.sample()

       carat      cut color clarity  depth  table  price     x     y     z
31771   0.32  Premium     F     VS2   58.8   62.0    773  4.48  4.43  2.62

#### Display a summary of the dataset, a summary statistics and number of rows and columns

In [12]:
# Add your code here

df.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

In [10]:
df.shape

(53940, 10)

#### Extract the `price` columns as a **Series**

In [14]:
# Add your code here

df[['price']]

       price
0        326
1        326
2        327
3        334
4        335
...      ...
53935   2757
53936   2757
53937   2757
53938   2757
53939   2757

[53940 rows x 1 columns]

#### Create a new DataFrame with only `carat`, `cut`, and `price` columns

In [18]:
# Add your code here
new_df = df[['carat', 'cut', 'price']]
print(new_df)

       carat        cut  price
0       0.23      Ideal    326
1       0.21    Premium    326
2       0.23       Good    327
3       0.29    Premium    334
4       0.31       Good    335
...      ...        ...    ...
53935   0.72      Ideal   2757
53936   0.72       Good   2757
53937   0.70  Very Good   2757
53938   0.86    Premium   2757
53939   0.75      Ideal   2757

[53940 rows x 3 columns]

#### Check each column data type and the DataFrame index

In [19]:
# Add your code here
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

In [20]:
df.dtypes

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
price        int64
x          float64
y          float64
z          float64
dtype: object

#### Use `iloc` to select the first 4 rows and the first 3 columns

In [21]:
# Add your code here
df.iloc[0:4,0:3]

   carat      cut color
0   0.23    Ideal     E
1   0.21  Premium     E
2   0.23     Good     E
3   0.29  Premium     I

#### Use `loc` to select the rows where `carat` is greater than 0.3 and display the `carat`, `cut`, and `price` columns

In [ ]:
# Add your code here
filtered_df = df.loc[df['carat'] > 0.3, ['carat', 'cut', 'price']]
print(filtered_df)

       carat        cut  price
4       0.31       Good    335
13      0.31      Ideal    344
15      0.32    Premium    345
23      0.31  Very Good    353
24      0.31  Very Good    353
...      ...        ...    ...
53935   0.72      Ideal   2757
53936   0.72       Good   2757
53937   0.70  Very Good   2757
53938   0.86    Premium   2757
53939   0.75      Ideal   2757

[49737 rows x 3 columns]

#### Create a copy of the DataFrame and add a new column `expensive` which is `True` if price is greater than 1000, otherwise `False`

In [24]:
# Add your code here
copy_df = df.copy()
copy_df['expensive'] = copy_df['price'] > 1000  # Add the new column
print(copy_df.head())
print(copy_df.tail())

   carat      cut color clarity  depth  table  price     x     y     z  \
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

   expensive
0      False
1      False
2      False
3      False
4      False
       carat        cut color clarity  depth  table  price     x     y     z  \
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

       expensive
53935       True
53936       True
53937       True
53938       True
53939       True

#### Sort the DataFrame by the `price` column in ascending order, and `carat` in descending order

In [32]:
# Add your code here
sorted_df = df.sort_values(by=['price', 'carat'], ascending=[True, False])
# sorted_df = df.sort_values(by='price').sort_values(by='carat', ascending=False)
print(sorted_df.head())

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

#### Display descriptive statistics for non-numeric columns

In [33]:
# Add your code here
df.describe(include='O')

          cut  color clarity
count   53940  53940   53940
unique      5      7       8
top     Ideal      G     SI1
freq    21551  11292   13065

#### Select the first 10 rows and the columns `carat`, `cut`, and `price` using `iloc`

In [37]:
# Add your code here
# df.iloc[0:10,0:10]
# selected_df = df.iloc[:10, [df.columns.get_loc('carat'), df.columns.get_loc('cut'), df.columns.get_loc('price')]]
selected_df = df.iloc[:10, [0, 1, 6]]
print(selected_df)

   carat        cut  price
0   0.23      Ideal    326
1   0.21    Premium    326
2   0.23       Good    327
3   0.29    Premium    334
4   0.31       Good    335
5   0.24  Very Good    336
6   0.24  Very Good    336
7   0.26  Very Good    337
8   0.22       Fair    337
9   0.23  Very Good    338

#### Use `loc` to filter the DataFrame for diamonds that have a `carat` greater than 0.5 and a `price` less than 1500. Display the `carat`, `price`, and `cut` columns

In [38]:
# Add your code here
filtered_df = df.loc[(df['carat'] > 0.5) & (df['price'] < 1500), ['carat', 'price', 'cut']]
print(filtered_df)

       carat  price      cut
32833   0.60    806  Premium
33301   0.51    826  Premium
33664   0.60    835  Premium
33837   0.53    844    Ideal
34255   0.53    856    Ideal
...      ...    ...      ...
43884   0.54   1453    Ideal
43885   0.54   1453    Ideal
43886   0.54   1453    Ideal
43888   0.52   1454    Ideal
43889   0.54   1454    Ideal

[1842 rows x 3 columns]

#### Replace all instances of '`Good`' in the `cut` column with '`Average`'

In [40]:
# Add your code here
df['cut'] = df['cut'].replace('Good', 'Average')
df.head(10)

   carat        cut color clarity  depth  table  price     x     y     z
0   0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23    Average     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31    Average     J     SI2   63.3   58.0    335  4.34  4.35  2.75
5   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
6   0.24  Very Good     I    VVS1   62.3   57.0    336  3.95  3.98  2.47
7   0.26  Very Good     H     SI1   61.9   55.0    337  4.07  4.11  2.53
8   0.22       Fair     E     VS2   65.1   61.0    337  3.87  3.78  2.49
9   0.23  Very Good     H     VS1   59.4   61.0    338  4.00  4.05  2.39

#### Group the DataFrame by the `cut` column and calculate the average `price` for each group

In [44]:
# Add your code here
# series
# average_price_by_cut = df.groupby('cut')['price'].mean()
# dataframe
average_price_by_cut = df.groupby('cut')[['price']].mean()
print(average_price_by_cut)

                 price
cut
Average    3928.864452
Fair       4358.757764
Ideal      3457.541970
Premium    4584.257704
Very Good  3981.759891

#### Rename the columns `x`, `y`, and `z` to `length`, `width`, and `height`, respectively

In [46]:
# Add your code here
df_renamed = df.rename(columns={'x': 'length', 'y': 'width', 'z': 'height'})
df_renamed.head(10)

   carat        cut color clarity  depth  table  price  length  width  height
0   0.23      Ideal     E     SI2   61.5   55.0    326    3.95   3.98    2.43
1   0.21    Premium     E     SI1   59.8   61.0    326    3.89   3.84    2.31
2   0.23    Average     E     VS1   56.9   65.0    327    4.05   4.07    2.31
3   0.29    Premium     I     VS2   62.4   58.0    334    4.20   4.23    2.63
4   0.31    Average     J     SI2   63.3   58.0    335    4.34   4.35    2.75
5   0.24  Very Good     J    VVS2   62.8   57.0    336    3.94   3.96    2.48
6   0.24  Very Good     I    VVS1   62.3   57.0    336    3.95   3.98    2.47
7   0.26  Very Good     H     SI1   61.9   55.0    337    4.07   4.11    2.53
8   0.22       Fair     E     VS2   65.1   61.0    337    3.87   3.78    2.49
9   0.23  Very Good     H     VS1   59.4   61.0    338    4.00   4.05    2.39